@import '~bootstrap/scss/bootstrap.scss'

  
@font-face
  font-family: 'Gotham'
  src: url('./fonts/Gotham/GothaProReg.otf') format('opentype')

@font-face
  font-family: 'Gotham-Bold'
  src: url('./fonts/Gotham/GothaProBol.otf') format('opentype')


$font-color: black
$background-gradient: linear-gradient(0deg, rgba(229,245,255,1) 0%, rgba(132,163,181,1) 100%)
  
$breakpoint-1024: 1024px
  

::-webkit-scrollbar
  width: 0
  height: 0


.desktop-only
  @media screen and ( max-width: $breakpoint-1024 )
    display: none
.mobile-only
  @media screen and ( min-width: $breakpoint-1024 + 1px)
    display: none

.noselect
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;            /* Non-prefixed version, currently supported by Chrome and Opera */

.button
  padding: 0
  cursor: pointer
  outline: none
  border: none
  background-color: rgba(0, 0, 0, 0)

h1, h2, h3, h4, h5, h6
  font-family: 'Gotham-Bold'

*
  font-family: 'Gotham', sans-serif
  color: $font-color
  margin: 0
  box-sizing: border-box
  @extend .noselect
  // overflow: hidden


.App
  width: 100%
  height: 100%
  overflow-y: scroll
  background: $background-gradient


$header-width: 80px
.header
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  &__perfobufet-logo, &__lev-logo
    position: absolute
    width: $header-width * 1.25
    height: $header-width * 1.25
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
  &__perfobufet-logo
    background-image: url(./img/logo.svg)
    top: $header-width / 4
    left: $header-width / 4
  &__lev-logo
    background-image: url(./img/logo.svg)
    bottom: $header-width / 4
    right: $header-width / 4
  &__top, &__bottom, &__left, &__right
    position: absolute
    @extend .d-flex
    @extend .align-items-center
    // background-color: red
    &__text
      font-size: calc(#{$header-width} / 4)
      font-weight: 800
      line-height: $header-width
    &__line
      @extend .flex-grow-1
      position: relative
      height: $header-width
      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: calc(100% - #{$header-width} * 2)
        height: 1px
        background-color: $font-color
  &__top, &__bottom
    width: calc(100% - #{$header-width} * 2)
    left: $header-width
  &__left, &__right
    width: calc(100vh - #{$header-width} * 2)
    transform: rotate(90deg)
  &__top, &__left
    @extend .justify-content-start
    padding-left: $header-width
  &__bottom, &__right
    @extend .justify-content-end
    padding-right: $header-width
  &__top
    top: 0
  &__bottom
    bottom: 0
  &__left
    top: $header-width
    left: $header-width
    transform-origin: top left    
  &__right
    bottom: $header-width
    right: $header-width
    transform-origin: bottom right



$frame-border: 100px
$frame-width: 2px
$frame-radius: $frame-border / 2



.Viewer
  width: 100%
  height: 66vh
  @extend .noselect
  outline: none
  *
    @extend .noselect
    outline: none

  

.frame
  width: 100%
  position: relative
  @extend .d-flex
  margin-bottom: 100px
  &__logo
    position: absolute
    top: $frame-border * -.125
    left: calc(50% - #{$frame-border})
    width: $frame-border * 2
    height: $frame-border * 1.5
    background-image: url(./img/logo.svg)
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
  &__bottom-line
    position: absolute
    bottom: $frame-border / 2
    border-bottom: $frame-width solid black
    width: $frame-border * 3
    left: calc(50% - #{$frame-border} * 1.5)
  &__bottom-content
    position: absolute
    left: calc(50% - #{$frame-border})
    bottom: $frame-border / 2
    transform: translateY(50%)
    text-align: center
    width: $frame-border * 2
    font-size: 2.5vw
    font-family: 'Gotham-Bold', sans-serif
  &::before, &::after
    content: ''
    position: absolute
    top: calc(#{$frame-border} / 2)
    width: calc(50% - #{$frame-border} * 1.5)
    height: calc(100% - #{$frame-border})
    border: $frame-width solid black
  &::before
    left: calc(#{$frame-border} / 2)
    border-right: none
    border-top-left-radius: $frame-radius
    border-bottom-left-radius: $frame-radius
  &::after
    right: calc(#{$frame-border} / 2)
    border-left: none
    border-top-right-radius: $frame-radius
    border-bottom-right-radius: $frame-radius
  &__container
    position: relative
    z-index: 100
    width: calc(100% - #{$frame-border} * 2)
    // height: calc(100% - #{$frame-border} * 2)
    margin: $frame-border * 1.5 $frame-border

.closed
  width: 100%
  height: 100%


.head
  @extend .d-flex
  @extend .justify-content-between
  flex-direction: row
  @media (max-width: $breakpoint-1024)
    flex-direction: column
  &__text
    @extend .order-2
    height: 100%
    width: 55%
    @media (max-width: $breakpoint-1024)
      width: 100%
    font-size: 16px
    // text-align: justify
  .Viewer
    width: 40%
    @extend .order-1
    @extend .order-md-2
    @media (max-width: $breakpoint-1024)
      width: 100%
