@import '~bootstrap/scss/bootstrap.scss'
@import './variables.css'
  
@font-face
  font-family: 'Cormorant'
  src: url('./fonts/Cormorant/Cormorant-Regular.ttf') format('truetype')

@font-face
  font-family: 'Cormorant-Bold'
  src: url('./fonts/Cormorant/Cormorant-Bold.ttf') format('truetype')


$font-color: black
// $background-gradient: linear-gradient(0deg, rgba(229,245,255,1) 0%, rgba(132,163,181,1) 100%)
$background-gradient: radial-gradient(circle, #b1cae2 0%, white 100%)
  
$breakpoint-1024: 1024px
  

::-webkit-scrollbar
  width: 0
  height: 0


.desktop-only
  @media screen and ( max-width: $breakpoint-1024 )
    display: none
.mobile-only
  @media screen and ( min-width: $breakpoint-1024 + 1px)
    display: none

.noselect
  -webkit-touch-callout: none  /* iOS Safari */
  -webkit-user-select: none    /* Safari */
  -khtml-user-select: none     /* Konqueror HTML */
  -moz-user-select: none       /* Firefox */
  -ms-user-select: none        /* Internet Explorer/Edge */
  user-select: none            /* Non-prefixed version, currently supported by Chrome and Opera */

.button
  padding: 0
  cursor: pointer
  outline: none
  border: none
  background-color: rgba(0, 0, 0, 0)

.abs-cover
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.def-img
  background-repeat: no-repeat
  background-position: center
  background-size: contain

h1, h2, h3, h4, h5, h6
  font-family: 'Cormorant-Bold'

*
  font-family: 'Cormorant', sans-serif
  color: $font-color
  margin: 0
  box-sizing: border-box
  // @extend .noselect
  font-size: 19px
  // overflow: hidden


.App
  // width: 100%
  // height: 100%
  overflow-x: hidden
  @extend .d-flex
  @extend .flex-column
  @extend .justify-content-around
  position: relative
  &::before
    content: ''
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: $background-gradient
    



$header-width: 80px
.header
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  &__perfobufet-logo, &__lev-logo
    position: absolute
    width: $header-width * 1.25
    height: $header-width * 1.25
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
  &__perfobufet-logo
    background-image: url(./img/logos/03.svg)
    top: $header-width / 4
    left: $header-width / 4
  &__lev-logo
    background-image: url(./img/logos/03.svg)
    bottom: $header-width / 4
    right: $header-width / 4
  &__top, &__bottom, &__left, &__right
    position: absolute
    @extend .d-flex
    @extend .align-items-center
    // background-color: red
    &__text
      font-size: calc(#{$header-width} / 4)
      font-weight: 800
      line-height: $header-width
    &__line
      @extend .flex-grow-1
      position: relative
      height: $header-width
      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: calc(100% - #{$header-width} * 2)
        height: 1px
        background-color: $font-color
  &__top, &__bottom
    width: calc(100% - #{$header-width} * 2)
    left: $header-width
  &__left, &__right
    width: calc(100vh - #{$header-width} * 2)
    transform: rotate(90deg)
  &__top, &__left
    @extend .justify-content-start
    padding-left: $header-width
  &__bottom, &__right
    @extend .justify-content-end
    padding-right: $header-width
  &__top
    top: 0
  &__bottom
    bottom: 0
  &__left
    top: $header-width
    left: $header-width
    transform-origin: top left    
  &__right
    bottom: $header-width
    right: $header-width
    transform-origin: bottom right



$frame-border: var(--frame-border)
$frame-width: var(--frame-width)
$frame-radius: calc(#{$frame-border} / 2)


.clouds
  position: absolute
  bottom: -50%
  left: 0
  width: 100%
  height: 20%
  &::before
    content: ''
    position: absolute
    width: 100%
    padding-top: 44.38%
    bottom: 50%
    @media screen and ( max-width: 1024px  )
      width: 200%
      padding-top: 88.76%
      bottom: 50%
    @media screen and ( max-width: 768px  )
      width: 200%
      padding-top: 88.76%
      bottom: 70%
    left: 50%
    z-index: 1
    transform: translateX(-50%)
    background-image: url(./img/cloud.png)
    background-size: 100%
    background-repeat: repeat-x
    background-position-x: 50%
    background-position-y: 50%
    animation: move 10s ease infinite
    @keyframes move
      0%
        left: 35%
      50%
        left: 65%
      100%
        left: 35%

.Viewer
  z-index: 10
  width: 100%
  height: 100vh
  // @media screen and ( max-width: 768px  )
  //   height: 65vh
  @extend .noselect
  outline: none
  position: fixed
  *
    @extend .noselect
    outline: none


.frame
  width: 100%
  min-height: 90vh
  position: relative
  z-index: 100
  @extend .d-flex
  @extend .my-5
  margin-top: calc(#{$frame-border} / 3)
  margin-bottom: calc(#{$frame-border} / 3)
  &__logo
    position: absolute
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
    transform: translateX(2%)
    top: calc(#{$frame-border} * -.125)
    left: calc(50% - #{$frame-border} * .75)
    width: calc(#{$frame-border} * 1.5)
    height: calc(#{$frame-border} * 1.5)
    @media screen and ( max-width: 1024px )
      top: calc(#{$frame-border} * -.625)
      left: calc(50% - #{$frame-border} * 1.5)
      width: calc(#{$frame-border} * 3)
      height: calc(#{$frame-border} * 3)
    &--1
      background-image: url(./img/logos/01.svg)
    &--2
      background-image: url(./img/logos/02.svg)
    &--3
      background-image: url(./img/logos/03.svg)
    &--4
      background-image: url(./img/logos/04.svg)
    &--5
      background-image: url(./img/logos/05.svg)
    &--6
      background-image: url(./img/logos/06.svg)
    &--7
      background-image: url(./img/logos/07.svg)
    &--8
      background-image: url(./img/logos/08.svg)
    &--9
      background-image: url(./img/logos/09.svg)
    &--10
      background-image: url(./img/logos/10.svg)
  &__bottom-line
    position: absolute
    bottom: calc(#{$frame-border} / 2)
    border-bottom: $frame-width solid black
    width: calc(#{$frame-border} * 5)
    left: calc(50% - #{$frame-border} * 2.5)
  &__bottom-content
    position: absolute
    left: calc(50% - #{$frame-border})
    bottom: calc(#{$frame-border} / 2)
    transform: translateY(50%)
    text-align: center
    width: calc(#{$frame-border} * 2)
    @media screen and ( max-width: 1024px )
      left: calc(50% - #{$frame-border} * 2)
      width: calc(#{$frame-border} * 4)
    font-size: 2.5vw
    font-family: 'Cormorant-Bold', sans-serif
  &::before, &::after
    content: ''
    position: absolute
    top: calc(#{$frame-border} / 2)
    width: calc(50% - #{$frame-border} * 1.5)
    @media screen and ( max-width: 1024px )
      width: calc(50% - #{$frame-border} * 2.5)
    height: calc(100% - #{$frame-border})
    border: $frame-width solid black
  &::before
    left: calc(#{$frame-border} / 2)
    border-right: none
    border-top-left-radius: $frame-radius
    border-bottom-left-radius: $frame-radius
  &::after
    right: calc(#{$frame-border} / 2)
    border-left: none
    border-top-right-radius: $frame-radius
    border-bottom-right-radius: $frame-radius
  &__container
    position: relative
    z-index: 100
    width: calc(100% - #{$frame-border} * 2)
    height: calc(100% - #{$frame-border} * 3)
    margin-top: calc(#{$frame-border} * 1.5)
    margin-bottom: calc(#{$frame-border} * 1.5)
    margin-left: $frame-border
    margin-right: $frame-border
    &--no-padding
      width: 100%
      height: 100%
      margin: 0 !important
  &--clouds
    @extend .clouds
  &--last
    margin-bottom: 35rem !important

  &__menu
    position: absolute
    top: calc(#{$frame-border} / 3)
    right: calc(#{$frame-border} / 3)
    z-index: 1000
    &__burger
      @extend .def-img
      background-image: url(./img/burger.svg)
      width: 3rem
      height: 3rem
      cursor: pointer
      position: relative
      z-index: 1001
      transition: transform .1s
      .frame__menu--opened &
        transform: rotate(90deg)
    &__item
      @extend .def-img
      @extend .abs-cover
      border-radius: 100%
      background-color: #CEDEF5
      z-index: 999
      opacity: 0
      transition: transform .15s, opacity .15s
      &--vk
        background-image: url(./img/social/vk.svg)
        background-size: 60%
        .frame__menu--opened &
          transform: translateY(5rem)
          opacity: 1
      &--inst
        background-image: url(./img/social/inst.svg)
        .frame__menu--opened &
          transform: translateY(10rem)
          opacity: 1

.closed
  width: 100%
  // height: 100%


.head
  @extend .d-flex
  @extend .justify-content-between
  flex-direction: row
  @media (max-width: $breakpoint-1024)
    flex-direction: column
  &__text
    @extend .order-2
    height: 100%
    width: 55%
    @media (max-width: $breakpoint-1024)
      width: 100%
    font-size: 16px
    // text-align: justify

$social-size: var(--social-size)
.social
  @extend .d-flex
  @extend .justify-content-around
  flex-direction: row
  // margin-right: calc(-#{$social-size} / 2)
  &__link
    width: $social-size
    height: $social-size
    border-radius: calc(#{$social-size} / 10)
    // margin-right: calc(#{$social-size} / 2)
    cursor: pointer
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    &--inst
      // background-image: url('./img/instagram_logo.svg')
    &--vk
      // background-image: url('./img/vk_logo.svg')




.desc
  position: absolute
  width: 100%
  height: 50vh
  top: 0
  left: 0
  &__card
    padding: 1.5rem
    position: absolute
    bottom: 0
    background-color: white
    width: 45%
    right: 5%
    height: 100%
    overflow-y: scroll
    @media (max-width: $breakpoint-1024)
      width: 110%
      right: 50%
      transform: translate(50%, 0)
      bottom: -60%
      height: 85%
    &__title
      @extend .d-flex
      @extend .flex-row
      &__h1
        @extend .h1
        @extend .font-italic
        @extend .flex-grow-1
        @media (max-width: $breakpoint-1024)
          font-size: 2rem
      &__links
        @extend .d-flex
        @extend .flex-row
        &__item
          width: 1.5rem
          height: 1.5rem
          margin-left: .5rem
          border-radius: 100%
          background-color: #CEDEF5
          @extend .def-img
          transition: transform .1s
          &:hover
            transform: scale(1.35)
          &--inst
            background-image: url(./img/social/inst.svg)
          &--vk
            background-image: url(./img/social/vk.svg)
            background-size: 60%
          &--fb
            background-image: url(./img/social/fb.svg)
  &__arrow
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    width: 4%
    padding-top: 4%
    @media (max-width: $breakpoint-1024)
      width: 20%
      padding-top: 20%
    cursor: pointer
    background: url(./img/arrow.svg)
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    &--left
      left: 0
      transform: translate(0, -50%) rotate(180deg)
      &:hover
        transform: translate(-30%, -50%) rotate(180deg) scale(1.55)
    &--right
      right: 0
      &:hover
        transform: translate(30%, -50%) scale(1.55)
    transition: transform .15s

    

.Loader
  @extend .abs-cover
  position: fixed
  background-color: white
  z-index: 100
  &__container
    @extend .d-flex
    @extend .flex-column
    @extend .align-items-center
  &__text
    width: 100%
    @extend .px-4
    font-size: 1.25rem
    @extend .mb-5
  &__button
    @extend .button
    font-size: 2rem
    padding: 1rem
    border: $frame-width solid black
    border-radius: .5rem
    &:disabled
      opacity: .25
      cursor: not-allowed


